body {
    display: flex !important;
    flex-direction: column !important;
}
#mainContent, #footer {
    height: auto !important;
}
#mainContent {
    flex-grow: 1 !important;
    overflow: hidden !important;
}
#collection, #collection > div, #QuestionSheet, aside#container {
    height: 100% !important;
}
#QuestionSheet {
    margin: 0 !important;
    padding: 42px 0 5px 0 !important;
}
#question-box, aside#container {
    margin-bottom: 0 !important;
}
#question-box, section.partial-right-inner {
    max-height: 100% !important;
    overflow: scroll !important;
}